# dependencies
/node_modules/

# configuration files
/src/js/firebaseConfig.mjs

# misc
.DS_Store

# build files
/dist/main.bundle.js
/dist/main.bundle.js.LICENSE.txt
/dist/form.bundle.js
/dist/form.bundle.js.LICENSE.txt

# test files
/coverage/
/spec/

# local env files
.env*.local
.env*
*/.env*.local
*/.env*
