# dependencies
/node_modules/

# Configuration files
/src/js/firebaseConfig.mjs

# misc
.DS_Store

# build files
/dist/main.js
/dist/main.js.LICENSE.txt

# local env files
.env*.local
.env*
*/.env*.local
*/.env*
