# dependencies
node_modules/

# configuration files
/src/js/firebaseConfig.mjs

# misc
.DS_Store

# build files
/dist/main.bundle.js
/dist/main.bundle.js.LICENSE.txt
/dist/form.bundle.js
/dist/form.bundle.js.LICENSE.txt

# local env files
.env*.local
.env*
*/.env*.local
*/.env*

# test file
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/